<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header"></div>
            <img class="card-img-top mx-auto m-2 rounded-circle img-fluid" src="/img/logo.jpg" alt="logo" style="width: 100px; height: 100px; display: block;">
            <h3 class="text-uppercase text-center p-4">CRUD</h3>
        </div>
        <div class="card-body text-center">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed vel reiciendis explicabo temporibus ratione eius dolor deserunt, rerum provident, corrupti sequi doloribus beatae eum quia doloremque, illum tempore ipsum dolorum.</p>
            <a href="/add" class="btn btn-primary">Crear una persona</a>
        </div>
    </div>
</main>
